:root {
    --backgroud-color: #008080;
    --accent-color: #000080;
    --window-background: #c0c0c0;
    --window-border: #0a0a0a;
    --off-white: #FFFFE1;
}

body {
    background-color: var(--backgroud-color);
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(27ex, 17vw) 1fr;
}

@media (max-width: 700px) {
    body {
        position: relative;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
}

h1 {
    margin-top: 0;
}

img {
    height: 100%;
}

button, .link-btn {
    background: var(--window-background);
    border: none;
    border-radius: 0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    cursor: pointer;
}

button:active, .link-btn:active {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

.sidebar {
    background-color: var(--window-background);
    display: flex;
    flex-direction: column;
}

.sidebar-links {
    margin: 1ch 0;
    padding: 0 2ex;
    list-style-type: none;
}

.sidebar a {
    text-decoration: none;
    color: inherit;
}

.sidebar a:hover {
    text-decoration: underline dashed;
}

.sidebar li {
    margin: 0.4ch 0;
}

.sidebar-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 1ch;
    padding: 1ch 1ex;
}

.sidebar-buttons>button {
    padding: 0.75ch 1ex;
}

.social-buttons {
    display: flex;
    justify-content: space-evenly;
    height: 5ch;
}

.social-buttons>.link-btn {
    height: 100%;
    padding: 4px;
}

@media (max-width: 700px) {
    .sidebar {
        display: none;
        width: 30ex;
        position: fixed;
        left: 0;
        bottom: calc(2ch + 18px);
        z-index: 2;
        box-shadow: -1px -1px var(--window-border), inset 1px 1px var(--window-background), inset -2px -2px grey, inset 2px 2px white;
    }
}

.start-menu {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    height: calc(2ch + 8px);
    width: 100%;
    z-index: 1;
}


@media (max-width: 700px) {
    .start-menu {
        background-color: var(--window-background);
        display: flex;
        padding: 0.5ch 0.5ex;
        box-shadow: 0 -1px 0 0 var(--window-border), inset 0 1px 0 0 var(--window-background), inset 0 -2px 0 0 grey, inset 0 2px 0 0 white;
    }
}

.start-menu button {
    font-weight: bold;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.start-menu button span {
    font-size: 18px;
}

.start-menu button img {
    display: inline-block;
    vertical-align: middle;
    height: 3ch;
    width: 3ch;
}

.screen-bottom-padding {
    display: none;
    height: calc(2ch + 8px);
    width: 100%;
}

@media (max-width: 700px) {
    .screen-bottom-padding {
        display: block;
    }
}

main {
    padding: 3vh 2.5vw;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
}

.titlebar {
    color: white;
    padding: 0.2vh 1ex;
    background-image: linear-gradient(to right, #0B007D, #3F8CCC);
}

.content-window {
    background-color: var(--window-background);
    padding: 1ch 1ex;
    box-shadow: -1px -1px var(--window-border), inset 1px 1px var(--window-background), inset -2px -2px grey, inset 2px 2px white;
}